<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand">PROFILE</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" routerLink="/achievement-list">Show Achievement</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/add-achievement">Add Achievement</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/publications-list">Show Publication</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/add-publication">Add Publication</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/contacts-list">Show Contacts</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/add-contact">Add Contact</a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" routerLink="/view-all">View All Faculty</a>
      </li>

    </ul>
  </div>
</nav>

<div class="jumbotron-jumbotron-fluid">
  <img src="https://lh3.googleusercontent.com/p/AF1QipOYXC86vlQI9cSWnUpBXBEKsLE8tbdIoMsl19TJ=s1360-w1360-h1020" alt="">
  <div class="container">
    <h1 class="display-4">Teacher Management</h1>
    <p class="lead">This is a MEAN stack application for Teacher Management Application</p>
  </div>
</div>

<router-outlet></router-outlet>
